html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
   /* background: url("https://www.wallpapertip.com/wmimgs/38-388110_background-wallpaper-colorful-website-background-design.jpg");*/
    background : url("https://www.wallpapertip.com/wmimgs/57-572320_abstract-light-white-background-wallpaper-background-blue-and.jpg");
    margin-bottom: 60px;
    background-size: cover;
    background-position: center;
}