@page
@model IndexModel
@{
	ViewData["Title"] = "Home";
}


<div class="container">
	<h1>Welcome to our tripCart Store!</h1>


	<div class="row">
		<div class="col-md-4">
			<div class="card mb-4">
				<img src="https://rukminim1.flixcart.com/image/312/312/l2qhjm80/computer/l/t/g/gf63-thin-11uc-867in-gaming-laptop-msi-original-imageyk5hzuthuyf.jpeg?q=70" alt="Card image cap" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">Laptop</h5>
					<p class="card-text">MSI Core i5 11th Gen - (16 GB/512 GB SSD/Windows 11 Home/4 GB Graphs)</p>
					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-4">
				<img src="https://rukminim1.flixcart.com/image/416/416/xif0q/mobile/i/y/j/-original-imagkp8fpw35uygd.jpeg?q=70" alt="Card image cap" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">Mobile</h5>
					<p class="card-text">Realme 10 Pro+ 5G (Nebula Blue, 128 GB) (6 GB RAM)</p>
					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card mb-4">
				<img src="https://rukminim1.flixcart.com/image/832/832/xif0q/shoe/d/o/e/9-5g-845-campus-mod-blu-wht-original-imag4g3xnanhz7zk-bb.jpeg?q=70" alt="Card image cap" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">Shoes</h5>
					<p class="card-text">NIKE (N) Running Shoes For Men (Blue)</p>
					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>
			</div>
		</div>


		<div class="col-md-4">
			<div class="card mb-4">
				<img class="card-img-top" src="https://rukminim1.flixcart.com/image/416/416/l4n2oi80/dining-set/s/p/m/-original-imagfhzyuzb8dkzc.jpeg?q=70" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Dining Set</h5>
					<p class="card-text">Perfect Homes Metal 4 Seater Dining Set</p>
					<a href="#" class="btn btn-primary">Add Cart</a>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card mb-4">
				<img class="card-img-top" src="https://rukminim1.flixcart.com/image/416/416/xif0q/chocolate/t/o/e/-original-imaghqdbpwznz3uh.jpeg?q=70" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Chocolate</h5>
					<p class="card-text">Cadbury Dairy Milk Silk Bubbly Chocolate Bars</p>
					<a href="#" class="btn btn-primary">Add Cart</a>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card mb-4">
				<img class="card-img-top" src="https://rukminim1.flixcart.com/image/832/832/kic17rk0-0/kurta/c/6/e/m-mor-3030-shinoy-original-imafy5eb9pk9akgh.jpeg?q=70" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Kurta</h5>
					<p class="card-text">Printed Viscose Rayon Straight Kurta</p>
					<a href="#" class="btn btn-primary">Add Cart</a>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card mb-4">
				<img class="card-img-top" src="https://rukminim1.flixcart.com/image/416/416/xif0q/remote-control-toy/f/h/u/remote-control-toy-car-electric-chargeable-3d-lightning-black-1-original-imagz45fsehbh2fh.jpeg?q=70" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Car</h5>
					<p class="card-text">Remote Control Toy Car Electric Chargeable 3D Lightning</p>
					<a href="#" class="btn btn-primary">Add Cart</a>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card mb-4">
				<img class="card-img-top" src="https://rukminim1.flixcart.com/image/416/416/xif0q/iron/n/i/n/regal-sb1kwt-flipkart-smartbuy-original-imagrfa7g5jrkhzc.jpeg?q=70" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Iron</h5>
					<p class="card-text">Regal SB1KWT 1000 W Dry Iron</p>
					<a href="#" class="btn btn-primary">Add Cart</a>
				</div>
			</div>
		</div>
