@page
@using CoreLogic.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h2 class="display-4">Products</h2>
</div>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model.Products)
        {
            <tr>
                <td>@prod.Name</td>
                <td>@prod.Description</td>
                <td>@prod.Price</td>
            </tr>       
        }
    </tbody>
</table>
