@page
@model WebApp.Pages.LogModel
@{
	
    ViewData["Title"] = "Home page";
}


<div>
    <h2 class="display-4">Log List</h2>
</div>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Log Id</th>
            <th>Description</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model.Logs)
        {
            <tr>
                <td>@log.Id</td>
                <td>@log.Description</td>
                
            </tr>       
        }
    </tbody>
</table>


